<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <span class="block">
          <img src="/assets/media/logo.png" width="72" height="30" />
        </span>
        <span class="block">
          <small class="text-muted">&copy; 2018 - {{ site.time | date: '%Y' }}</small>
        </span>
      </div>
      <div class="col">
        <div class="icon-list float-right">
          <a target="_blank" href="mailto:solarchapterofficial@gmail.com"><i class="fa fa-lg fa-envelope"></i></a>
          <a target="_blank" href="https://www.facebook.com/solarchapter/"><i class="fa fa-lg fa-facebook"></i></a>
          <a target="_blank" href="https://twitter.com/solarchapter"><i class="fa fa-lg fa-twitter"></i></a>
          <a target="_blank" href="http://instagram.com/solarchapter"><i class="fa fa-lg fa-instagram"></i></a>
          <a target="_blank" href="https://www.youtube.com/channel/UCqj1kNOurGHy6yCgGqtC2fQ"><i class="fa fa-lg fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
