<div class="container" id="main-nav-container">
    <nav id="main-nav" class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="#">
          <img src="assets/media/small_logo.png" width="30" height="30" class="d-inline-block align-top" alt="Solar Chapter">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item">
                    <a class="nav-link menu-link" href="#">Chapters <span class="sr-only">(current)</span></a>
                </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Teams
                    </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">UIUC</a>
                    <a class="dropdown-item" href="#">Michigan</a>
                    <a class="dropdown-item" href="#">Purdue</a>
                </div>
                </li>
            </ul>
            <form class="form-inline nav-form">
                <button class="btn btn-outline-solarchapter btn-sm" type="submit">DONATE</button>
            </form>
        </div>
    </nav>
</div>