<div class="container" id="main-nav-container">
    <nav id="main-nav" class="navbar navbar-expand-sm navbar-{{ layout.menu-color | default: 'dark' }}">
        <a class="navbar-brand" href="/">
          <img src="/assets/media/small_logo.png" width="30" height="30" class="d-inline-block align-top" alt="Solar Chapter">
           Solar Chapter
        </a>
        <button class="sc-navbar navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href='/teams' id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Teams
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href='/teams'>All Teams</a>
                        {% assign teams = site.teams | sort: "order" %}
                        {% for team in teams %}
                            <a class="dropdown-item" href="{{ team.url }}">{{ team.headerMenuName }}</a>    
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chapters">Chapters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://solarchapter.tumblr.com/">Blog</a>
                </li>
            </ul>
            <form class="form-inline nav-form" action="/fundraise">
                <button class="btn btn-outline-solarchapter btn-sm" type="submit">FUNDRAISE</button>
            </form>
            <form class="form-inline nav-form" action="/donate">
                <button class="btn btn-outline-solarchapter btn-sm" type="submit">DONATE</button>
            </form>
        </div>
    </nav>
</div>
