@import './_variables.scss';

.stats-gallery {
  position: relative;

  .card {
    background-color: rgba(255, 255, 255, 0.85)
  }
}

.content {
  .container {
    z-index: 1;

    .card {
      margin-bottom: 75px;
    }
  }
}

.stats-gallery::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}

.stat {
  padding: 20px;

  .stat-number {
    text-align: center;
    font-size: 30px;
  } 
}

.stats-background-gallery {
  display: inline-flex;
  position: absolute;
  overflow-x: hidden;
  top: 50%;
  transform: translate(0, -50%);

  .slide {
    display: inline-block;
    align-items: center;

    img {
      height: 700px;
    }
  }
}


table {
  .regency {
    text-indent: 25px;
  }

  .chapter {
    text-indent: 50px;
  }

  .place {
    text-indent: 75px;
  }

  .chapter {
    text-indent: 100px;

    .badge {
      margin-left: 20px;
      display: inline;
    }
  }

  .row-solarchapter {
    background-color: $sc-primary-color;
  }

  .clickable-row {
    cursor: pointer;
  }

  .clickable-row:hover {
    background-color: rgba(0,0,0,.075);
  }
}

.hover-info {
  padding: 10px;
  border: 1px solid gray;
  background-color: white;
  border-radius: 2px; 

  .card-title {
    margin: 5px 0;
  }
}