body, html {
    height: 100%;
}

.bg {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-size: 23px;
    margin: 0;
    color: white;
}

.spacing {
    padding-top: 10%;
    visibility: hidden;
}

