.chapters-title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
  margin: 40px 0;

  p {
    font-size: 24px;
    margin: 0;
    text-transform: uppercase;
  }
}

.card.chapters {
  margin: 30px 0;
}

.waves-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 400px;
  display: block;
  overflow: hidden;

  .waves {
    position: absolute;
    height: 200px;
    bottom: 0;
  }
  
  .wave-one {
    transform: translateX(-10%);
  }
}

.img-container {
  text-align: center;
}

.card-title {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

.card-text::first-letter {
  font-size: 45px;
  line-height: 1.5px;
  padding-right: 5px;
  padding-left: 5px;
}

.card-text {
  margin-top: 30px;
  line-height: 1.5;
}

.card-text {
  white-space: normal;
}

.chapter-one {
  top: 1px; // Somehow there is a 1px spacing between this div and the following one. This is to remove that spacing
}

// #chapter-one-carousel {
//   transform: rotate(1deg);
// }

.carousel::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #80878E;
  transform: rotate(-2deg);
}

.chapter-two {
  margin: 50px 0 100px 0;
  padding: 30px 0;
}

.education-background-gallery {
  display: inline-flex;
  position: absolute;
  overflow-x: hidden;
  top: 50%;
  transform: translate(0, -50%);
  // animation: carousel 40s infinite linear;

  .slide {
    display: inline-block;
    align-items: center;

    img {
      height: 600px;
    }
  }
}

// @keyframes carousel {
//   0% {
//     transform: translate(0, -50%);
//   }
//   100% {
//     transform: translate(-100%, -50%);
//   }
// }

.chapter-three {
  // background-image: url("/assets/media/homepage/makna-background1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  margin-bottom: 50px;

  .tenun {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('/assets/media/tenun-pattern.png');
    background-size: contain;
    width: 100%;
    height: 100px;
  }
}

.waves-blender {
  display: block;
  position: relative;
  width: 100%;
  height: 100px;
  background: rgb(220,246,255);
  background: linear-gradient(0deg, rgba(220,246,255,0) 0%, rgba(216,250,255,1) 55%);
  margin-bottom: 50px;
}

@keyframes wavy {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}