$kain-makna-primary-color: #A04533;
$kain-makna-secondary-color: #C07C31;

.btn-kain-makna-primary {
  background-color: $kain-makna-primary-color;
  border-color: $kain-makna-primary-color;
  color: white;
}

.btn-kain-makna-secondary {
  background-color: $kain-makna-secondary-color;
  border-color: $kain-makna-secondary-color;
}
  