body, html {
  height: 100%;
}

.section-content.bg {
  padding: 25px;
  background-color: rgba(232, 200, 17, 1);
  background-image: url(/assets/media/world_map.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}

.row.align-items-center {
  text-align: center;
}

.teams-title {
  position: relative;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
  width: 100%;

  p {
    font-size: 24px;
    margin: 0;
    text-transform: uppercase;
  }
}

.spacing {
  padding-top: 5%;
  visibility: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(232, 200, 17, 1);
}

.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.card:hover .overlay {
  opacity: 1;
}

.card-body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.card-title {
  font-size: 25px;
}

.card-img-top {
  img {
    min-height: 300px;
    max-height: 300px;
  }
}
