---
layout: base
menu-color: 'dark'
custom_css:
  - '/assets/css/chapters.css'
custom_js: 
  - 'https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js'
  - 'https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js'
  - 'https://cdnjs.cloudflare.com/ajax/libs/datamaps/0.5.9/datamaps.idn.min.js'
  - '/assets/js/datamap-icons.js'
  - '/assets/js/chapters.js'
---
<div class="section first stats-gallery">
  <div class="stats-background-gallery bg-auto-carousel" style="animation-duration: {{ page.imageGalleryDuration }};">
    {% for url in page.imageGallery %}
      <div class='slide'>
        <img src='{{url}}' />
      </div>
    {% endfor %}
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="offset-md-2 col-md-8">
        <div class="card stats">
          <div class="card-body text-center">
            <div class="daun"></div>
            <p class="card-title">{{ page.preface }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col offset-md-1 col-md-10">
      <div id="map-container"></div>
    </div>
  </div>
  <div class="row">
    <div style="width: 100%;" class="text-center">
      <h3 class="card-title" id="list">
        Our Chapters' Projects
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col offset-md-1 col-md-10">
      <div class="float-right"><button id="view-all-projects-button" class="btn btn-solarchapter" style="margin-bottom: 20px">Show All Projects</button></div>
      <div class="table-responsive">
        <table class="table table-bordered" id="project-table">
          <tbody>
            {% assign provinces = site.chapters | map: 'province' | uniq %} 
            {% assign regencies = site.chapters | map: 'regency' | uniq %}
            {% for province in provinces %}
              <tr class="table-active" data-province="{{ province }}">
                <th>Province: {{ province }}</th>
              </tr>
              {% for regency in regencies %}
                <tr class="table-active" data-province="{{ province }}" data-regency="{{ regency }}" data-latitude={{ site.data.regencies_coordinates[regency].latitude }} data-longitude={{ site.data.regencies_coordinates[regency].longitude }}>
                  <th class="regency">Regency: {{ regency }}</th>
                </tr>
                {% assign placeNames = site.chapters | where: "regency", regency | map: 'place' | uniq | sort %}
                {% for placeName in placeNames %}
                  <tr class="table-active" data-regency="{{ regency }}">
                    <th class="place">{{ placeName }}</th>
                  </tr>
                  {% assign places = site.chapters | where: "place", placeName | sort: "chapter" %}
                  {% for place in places %}
                  <tr class="clickable-row" data-href="{{ place.permalink | default: place.url }}" data-regency="{{ regency }}" data-place="{{ placeName }}" data-title="{{ place.chapterTitle }}" data-status="{{ place.status }}">
                    <th class="chapter">
                      {{ place.chapterTitle }}
                      {% if place.status == 'Completed' %}
                        <span class="badge badge-success">Completed</span>
                      {% elsif place.status == 'In Progress' %}
                        <span class="badge badge-primary">In Progress</span>
                      {% else %}
                      {% endif %}
                    </th>
                  </tr>
                  {% endfor %}
                {% endfor %}
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>
    </div>
    </div>
  </div>
</div>