---
layout: base
menu-color: 'dark'
custom_css:
  - '/assets/css/chapter.css'
custom_js: 
  - '/assets/js/chapter.js'
---
<div
  class="container first project-header"
  style="background-image: url('{{ page.headerImageUrl }}')"
>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="chapters-title">
        <div class='daun'></div>
        <p>{{ page.title }}</p>
        {% if page.location %}
          <p>
            <div class="icon fa fa-map-marker"></div>
            {{ page.location }}
          </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-9">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="books-tab-container">
              <ul class="nav nav-tabs book-tabs" id="project-tab" role="tablist">
                {% for section in page.sections %}
                <li class="nav-item">
                  {% if forloop.index == 1 %}
                  <a class="nav-link active" data-toggle="tab" href="#{{ section[0] }}" role="tab" aria-controls="{{ section[0] }}" aria-selected="true">{{ section[1].tabName }}</a>
                  {% else %}
                  <a class="nav-link" data-toggle="tab" href="#{{ section[0] }}" role="tab" aria-controls="{{ section[0] }}" aria-selected="false">{{ section[1].tabName }}</a>
                  {% endif %}
                </li>
                {% endfor %}
                {% if page.gallery %}
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#gallery" role="tab" aria-controls="gallery" aria-selected="true">Gallery</a>
                  </li>
                {% endif %}
              </ul>
            </div>
            <div class="tab-content" id="project-tab-content">
              {% for section in page.sections %}
                {% if forloop.index == 1 %}
                  <div class="tab-pane fade show active" id="{{ section[0] }}" role="tabpanel" aria-labelledby="{{ section[0] }}-tab">
                    {{ section[1].tabContent }}
                  </div>
                {% else %}
                  <div class="tab-pane fade" id="{{ section[0] }}" role="tabpanel" aria-labelledby="{{ section[0] }}-tab">
                    {{ section[1].tabContent }}
                  </div>
                {% endif %}
              {% endfor %}
              {% if page.gallery %}
                <div class="tab-pane fade" id="gallery" role="tabpanel" aria-labelledby="gallery-tab">
                  <div id="carousel" class="carousel carousel-album slide" data-ride="carousel" data-interval="0">
                    <ol class="carousel-indicators">
                      {% for url in page.gallery %}
                        {% if forloop.index == 1 %}
                        <li data-target="#carousel" data-slide-to="{{forloop.index | minus:1}}" class="active"></li>
                        {% else %}
                        <li data-target="#carousel" data-slide-to="{{forloop.index | minus:1}}"></li>
                        {% endif %}
                      {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                      {% for url in page.gallery %}
                        {% if forloop.index == 1 %}
                        <div class="carousel-item active">
                        {% else %}
                        <div class="carousel-item">
                        {% endif %}
                          <img src="{{url}}" class="d-block w-100" />
                        </div>
                      {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3">
      <div class="card donation-section">
        {% if page.fundraisingImageUrl %}
          <img src="{{ page.fundraisingImageUrl }}" class="card-img-top" />
        {% endif %}
        <div class="card-body">
          {% if page.fundraisingText %}
            <p class="card-text">{{ page.fundraisingText }}</p>
          {% else %}
            <p class="card-text">You help is always appreciated. To support our project, you can make a donation to us</p>
          {% endif %}
          {% if page.fundraisingLinks and page.fundraisingLinks.size > 0 %}
            {% for fundraisingLink in page.fundraisingLinks %}
              <a href="{{ fundraisingLink[1].link }}" target="_blank" class="btn btn-solarchapter btn-block donate-cta">{{ fundraisingLink[1].title }}</a>
            {% endfor %}
          {% else %}
            <a href="/donate" class="btn btn-solarchapter btn-block donate-cta">Donate</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-9">
      <div class="container">
        <div class="row">
          <div class="cta-section">
            <a class="btn btn-solarchapter" href="/chapters#list">Go back to Chapters' projects</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>