---
layout: base
---
<div class="bg" style="background-image: url({{ page.background_image }});">
    <div class="container">
        <div class="py-5"></div>

        <div style="text-align: center">
            <div class="py-3"></div>
        </div>


        <div class="row">

            <div class="col-sm-6">
                <script src="https://donorbox.org/widget.js" paypalExpress="true"></script>
                <iframe allowpaymentrequest="" frameborder="0" height="900px" name="donorbox" scrolling="no" seamless="seamless" src="https://donorbox.org/embed/solar-chapter"
                style="max-width: 500px; min-width: 310px; max-height:none!important" width="100%"></iframe>
            </div>


            <div class="col-sm-6">
                <b><p>{{ page.header_message }}</p> </b>
                <br>
                <b><p>For Offline Donations:</p></b>
                <p>{{ page.offline_donation }}</p>
            </div>

        </div> 

        <div class="py-3"></div>
    </div>
</div>
