---
layout: base
custom_css:
- '/assets/css/fundraise.css'
---
<div class="bg-image" style="background-image: url({{ page.background_image }});">
  <div class="container">
    <div class="py-5"></div>
    <div class="my-5 text-center">
      <p class="header-text">Ready to help?</p>
      <p class="header-text">Fundraise with us!</p>
    </div>
  </div>
  <div class="py-5"></div>
  <div class="py-5"></div>
</div>
<div class="container mt-5">
  <div class="text-center">
    <div class="daun"></div>
    <h3 class="card-title">How to fundraise with us</h3>
  </div>

  <div class="col">
    <div class="row mt-5">
      <div class="card text-white float-right" style="background-color:#ffcc33;">
        <div class="card-body row align-items-center justify-content-center">
          <img src="/assets/fundraise/notepad.svg" height=150 width=150 class="float-left align-middle m-2"/>
          <div class="col">
            <h3 class="card-text">Step 1</h1>
            <h3 class="card-text">Plan Your Event</h3>
            <p class="lead">We have made numerous fundraising events for our cause! Now you can help us make events too! Start by creating a plan for your event. As the saying goes, “A goal without a plan is just a wish.”</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card text-white float-right" style="background-color:#8fb9d1;">
        <div class="card-body row align-items-center justify-content-center">
          <div class="col">
            <h3 class="card-text">Step 2</h3>
            <h3 class="card-text">Share Your Plans With Us</h3>
            <p class="lead">We would love to know what you’re working on! Share your plans with us throughout the process so that we can also help you promote your event. Our member will shortly contact you after!</p>
          </div>
          <img src="/assets/fundraise/ad.svg" height=150 width=150 class="float-left align-middle m-2"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card text-white float-right" style="background-color:#75c6b3">
        <div class="card-body row align-items-center justify-content-center">
          <img src="/assets/fundraise/report.svg" height=150 width=150 class="float-left align-middle m-2"/>
          <div class="col">
            <h3 class="card-text">Step 3</h1>
            <h3 class="card-text">Let Us Know How It Goes</h3>
            <p class="lead">Our officers will be contacting you soon after your fundraising event to sort some financial and logistical aspects. Aside from that, we would love to hear how you felt about the event and get some feedback!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card text-white float-right" style="background-color:#5cb85c;">
        <div class="card-body row align-items-center justify-content-center">
          <div class="col">
            <h3 class="card-text">Step 4</h3>
            <h3 class="card-text">See the Impact You’ve Made!</h3>
            <p class="lead">Your journey with Solar Chapter does not end here! We would like to thank you again for your contribution to our mission. A big part of why we do what we do is because we can see the extensive positive impacts of our projects. We would like to share that feeling with you and how you have impacted the community!</p>
          </div>
          <img src="/assets/fundraise/indonesia.svg" height=150 width=150 class="float-left align-middle m-2"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card text-white" style="background-color:#e85858;">
        <div class="card-body row align-items-center justify-content-center">
          <div class="col">
            <h3 class="card-text text-center">Help Us Help Them</h3>
            <center>
              <a href="{{ page.form_link }}" class="btn button mt-4">Start Here</a>
              <br>
              <a href="/assets/fundraise/guideline.pdf" class="btn button my-3">Read Our Guidelines</a>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
