---
layout: base
menu-color: 'dark'
custom_css:
- '/assets/css/index.css'
- '/assets/css/kain-makna.css'
custom_js:
- 'https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js'
- 'https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js'
- 'https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.2/plugins/animation.gsap.js'
- '/assets/js/index.js'
---
<!-- LANDING SECTION -->
<div class="container-fluid" id="landing-section">
    <div class="section-content">
        <video preload autoplay muted loop poster="{{ page.heroVideoPoster }}">
            {% for video in page.heroVideo %}
            <source src="{{ video[1].url }}" type="{{ video[1].type }}">
            {% endfor %}
        </video>
        <div class="container-fluid video-overlay">
            <div class="row align-items-center hero-content my-3">
                <div class="col col-xs-12 offset-md-1 col-md-4 lead mt-5 py-5">
                    <p>{{page.heroMessage}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CHAPTERS SECTION -->
<div class="chapters-title mt-5">
    <div class='daun'></div>
    <p>We Make Impacts Through Chapters</p>
</div>
<div class="container-fluid px-5 mt-3" id="chapters-section">
    <div class="row align-items-center">
        <div class="col-sm-6 col-md-6">
            <div class="card chapters py-2">
                <div class="card-body chapter-card">
                    <p class="card-title">Chapter One</p>
                    <h3 class="card-title">{{page.chapterOneTitle}}</h3>
                    <p class="chapter-text">
                        {{page.chapterOneMessage}}
                    </p>
                </div>
                <div class="card-body chapter-card" hidden>
                    <p class="card-title">Chapter Two</p>
                    <h3 class="card-title">{{page.chapterTwoTitle}}</h3>
                    <p class="chapter-text">
                        {{page.chapterTwoMessage}}
                    </p>
                </div>
                <div class="card-body chapter-card" hidden>
                    <p class="card-title">Chapter Three</p>
                    <h3 class="card-title">{{page.chapterThreeTitle}}</h3>
                    <p class="chapter-text">
                        {{page.chapterThreeMessage}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div id="chapters-carousel" class="carousel carousel-album slide" data-ride="carousel" data-interval="false">
                <ol class="carousel-indicators">
                    {% for url in page.chaptersGallery %}
                    {% if forloop.index == 1 %}
                    <li data-target="#chapters-carousel" data-slide-to="{{forloop.index | minus:1}}" class="active"></li>
                    {% else %}
                    <li data-target="#chapters-carousel" data-slide-to="{{forloop.index | minus:1}}"></li>
                    {% endif %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for url in page.chaptersGallery %}
                    {% if forloop.index == 1 %}
                    <div class="carousel-item active">
                        {% else %}
                        <div class="carousel-item">
                            {% endif %}
                            <img src="{{url}}" class="d-block w-100" />
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#chapters-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#chapters-carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- IMPACTS-->
<div class="section impacts mt-5">
    <h4 class="card-title">With your help we have</h4>
    <div class="container-fluid">
        <div class="row justify-content-md-center row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            <div class="col">
                <div class="card impact py-1">
                    <div class="card-body chapter-card">
                        <img class="card-img" src="{{ page.impactsImageGallery.reached.image_url}}" />
                        <h4 class="card-impact-text">{{page.impacts.first.title}}</h3>
                        <p class="card-impact-text">{{page.impacts.first.first_value}}</p>
                        <p class="card-impact-text">{{page.impacts.first.second_value}}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card impact py-1">
                    <div class="card-body chapter-card">
                        <img class="card-img" src="{{ page.impactsImageGallery.served.image_url}}" />
                        <h4 class="card-impact-text">{{page.impacts.second.title}}</h3>
                        <p class="card-impact-text">{{page.impacts.second.first_value}}</p>
                        <p class="card-impact-text">{{page.impacts.second.second_value}}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card impact py-1">
                    <div class="card-body chapter-card">
                        <img class="card-img" src="{{ page.impactsImageGallery.expanded.image_url}}" />
                        <h4 class="card-impact-text">{{page.impacts.third.title}}</h3>
                        <p class="card-impact-text">{{page.impacts.third.first_value}}</p>
                        <p class="card-impact-text">{{page.impacts.third.second_value}}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card impact py-1">
                    <div class="card-body chapter-card">
                        <img class="card-img" src="{{ page.impactsImageGallery.involved.image_url}}" />
                        <h4 class="card-impact-text">{{page.impacts.fourth.title}}</h3>
                        <p class="card-impact-text">{{page.impacts.fourth.first_value}}</p>
                        <p class="card-impact-text">{{page.impacts.fourth.second_value}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SPONSORS -->
<div class="section sponsors">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="chapters-title" style="margin: 40px 0;">
                    <p>Sponsors</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sponsors-carousel auto-carousel" style="animation-duration: {{ page.sponsorCarouselDuration }};">
        {% for sponsor in page.sponsors %}
        {% assign remainder = forloop.index | modulo: 2 %}
        {% if remainder == 0 %}
        <div class="slide sponsor-img-box">
            {% if sponsor.link %}
            <a href="{{ sponsor.link }}" target="_blank">
                {% endif %}
                <img class="sponsor-img" src="{{ sponsor.image_url }}" />
                {% if sponsor.link %}
            </a>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="sponsors-carousel auto-carousel" style="animation-duration: {{ page.sponsorCarouselDuration }};">
        {% for sponsor in page.sponsors %}
        {% assign remainder = forloop.index | modulo: 2 %}
        {% if remainder == 1 %}
        <div class="slide sponsor-img-box">
            {% if sponsor.link %}
            <a href="{{ sponsor.link }}" target="_blank">
                {% endif %}
                <img class="sponsor-img" src="{{ sponsor.image_url }}" />
                {% if sponsor.link %}
            </a>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
<!-- GET INVOLVED -->
<div class="section involved">
    <div class="involved-title" style="margin: 40px 0;">
        <p>GET INVOLVED</p>
    </div>
    <div class="row">
        <div class="card-deck text-center mx-auto">
            <div class="card card-involved p-3 mb-5 bg-white rounded border-1">
                <div class="card-body">
                    <h5 class="card-title">Join Us</h5>
                    <div class = "btn-group-vertical">
                        <a href="#" class="btn join-btn">Start A Branch</a>
                        <a href="#" class="btn join-btn">Sponsor A Village</a>
                        <a href="#" class="btn join-btn">Fundraise With Us</a>
                    </div> 
                </div>
            </div>

            <div class="card card-involved p-3 mb-5 bg-white rounded border-1">
                <div class="card-body">
                    <h5 class="card-title">Give</h5>
                    <p class="card-involved-text">Join our campaign to</p>
                    <p class="card-involved-text">change lives by giving $1,</p>
                    <p class="card-involved-text">$10, or $100 today</p>
                    <a href="https://solarchapter.com/donate?" class="btn donate-btn">Donate</a>                 
                </div>
            </div>

            <div class="card card-involved p-3 mb-5 bg-white rounded border-1">
                <div class="card-body">
                    <h5 class="card-title">Stay Updated</h5>
                    <p class="card-involved-text mb-5 mt-5">Receive updates on our activities</p>
                    <form>
                        <div class="form-row align-items-center">
                          <div class="col-7 ml-3 mt-4">
                            <label class="sr-only" for="inlineFormInputEmail">Email</label>
                            <input type="text" class="form-control input-form" id="inlineFormInputEmail" placeholder="Enter Email">
                          </div>
                          
                          <div class="col-3 mt-4">
                            <button type="submit" class="btn submit-btn">
                                Submit
                            </button>
                          </div>
                        </div>
                      </form>
                  </div>
            </div>
        </div>
    </div>         
</div>
