---
layout: base
custom_css:
  - '/assets/css/landing.css'
custom_js:
  - '/assets/js/landing.js'
---
{% assign landingBackgroundStyle = "style='background-image: url(" | append: page.landing_image | append: ");'" %}
{% assign logoMarginTop = page.landingLogoHeight | divided_by: 2 | times: -1 | append: "px" %}
{% assign logoMarginLeft = page.landingLogoWidth | divided_by: 2 | times: -1 | append: "px" %}
<div class="landing-full-container">
  <div class="section-content-container landing-full" {{ landingBackgroundStyle }}>
    {% assign logoContainerStyle = "style='top: " | append: page.landingLogoTopLocation | append: "; left: " | append: page.landingLogoLeftLocation | append: "; width: " | append: page.landingLogoWidth | append: "; margin-top: " | append: logoMarginTop | append: "; margin-left: " | append: logoMarginLeft | append: ";'" %}
    {% assign logoStyle = "style='content: url(" | append: page.landingLogo | append: ");" | append: "; width: " | append: page.landingLogoWidth | append: "; height: " | append: page.landingLogoHeight | append: ";'" %}
    <div class="logo-container" {{ logoContainerStyle }}>
      <img class="logo" {{ logoStyle }} />
      {% if page.landingLogoButton %}
        <a class="cta btn {{ page.landingLogoClassName }}" target="_blank" href="{{ page.landingLogoButton.link }}">{{ page.landingLogoButton.title }}</a>
      {% endif %}
    </div>
  </div>
</div>
<div class="landing-page-content">
  <div class="container">
  <div class="row">
    <div class="col">
      {{ page.mainContent }}
    </div>
  </div>
  </div>
  {% for section in page.sections %}
  {% if section.backgroundColor %}
  <div class="section" style="background-color: {{ section.backgroundColor }};">
  {% endif %}
  <div class="container-section container">
    <div class="row supporting-paragraph align-items-center">
      {% assign order = 'order-first' %}
      {% if section.contentPosition == 'left' %}
      {% assign order = 'order-last' %}
      {% endif %}
      {% if section.imageGallery and section.imageGallery.size > 0 %}
        <div id="carousel-{{ forloop.index }}" class="col-md-6 carousel carousel-album slide {{ order }}" data-ride="carousel" data-interval="0">
          <ol class="carousel-indicators">
            {% for url in section.imageGallery %}
              {% if forloop.index == 1 %}
              <li data-target="#carousel-{{ forloop.index }}" data-slide-to="{{forloop.index | minus:1}}" class="active"></li>
              {% else %}
              <li data-target="#carousel-{{ forloop.index }}" data-slide-to="{{forloop.index | minus:1}}"></li>
              {% endif %}
            {% endfor %}
          </ol>
          <div class="carousel-inner">
            {% for url in section.imageGallery %}
              {% if forloop.index == 1 %}
              <div class="carousel-item active">
              {% else %}
              <div class="carousel-item">
              {% endif %}
                <img src="{{url}}" class="d-block w-100" />
              </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carousel-{{ forloop.index }}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-{{ forloop.index }}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      {% endif %}
      <div class="col supporting-content">
        {{ section.content}}
      </div>
    </div>
  </div>
  {% if section.backgroundColor %}
  </div>
  {% endif %}
  {% endfor %}
  {% if page.fullWidthGallery %}
    <br/>
    <br/>
    <h3 class="card-title">{{ page.fullWidthGalleryTitle }}</h3>
    <div class="section" style="max-height: {{ page.fullWidthGalleryMaxHeight }};">
      <div class="landing-full-width-gallery bg-carousel" style="animation-duration: {{ page.fullWidthGalleryDuration }};">
        {% for image in page.fullWidthGallery %}
          <div class='slide'>
            <img src='{{ image }}' />
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>