---
layout: base
---
<div class="section-content bg">
  <div class="container">
    <div class="row align-items-center" style="min-height: 300px;">
      <div class="title">
        <a href="https://fontmeme.com/cursive-fonts/"><img src="https://fontmeme.com/permalink/200222/12570d9d2d89bde2fba6a64150b4a691.png" class="title-img" alt="cursive-fonts" border="0"></a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row align-items-center" style="min-height: 300px;">
    <div class="title">
      <img src='/assets/media/daun.png' />
    </div>
  </div>
</div>
<div class="container">
  <div class="row">

    <div class="col-md-3">
      <div class="our-team-box">
        <img src="{{ page.president_image }}" class="img-responsive alt="...">
        <h4>{{page.president_name}}</h4>
        <p>President</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="our-team-box">
        <img src="{{ page.vp_ext_image }}" class="img-responsive alt="...">
        <h4>{{page.vp_ext_name}}</h4>
        <p>External Vice President</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="our-team-box">
        <img src="{{ page.vp_int_image }}" class="img-responsive alt="...">
        <h4>{{page.vp_int_name}}</h4>
        <p>Internal Vice President</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="our-team-box">
        <img src="{{ page.secretary_image }}" class="img-responsive alt="...">
        <h4>{{page.secretary_name}}</h4>
        <p>Secretary</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="our-team-box">
        <img src="{{ page.fin_image }}" class="img-responsive alt="...">
        <h4>{{page.fin_name}}</h4>
        <p>Finance Chair</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="our-team-box">
        <img src="{{ page.fund_image }}" class="img-responsive alt="...">
        <h4>{{page.fund_name}}</h4>
        <p>Fundraising Chair</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="our-team-box">
        <img src="{{ page.pr_image }}" class="img-responsive alt="...">
        <h4>{{page.pr_name}}</h4>
        <p>Public Relations Chair</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="our-team-box">
        <img src="{{ page.marketing_image }}" class="img-responsive alt="...">
        <h4>{{page.marketing_name}}</h4>
        <p>Marketing and Social Media Chair</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="our-team-box">
        <img src="{{ page.project_dev_image }}" class="img-responsive alt="...">
        <h4>{{page.project_dev_name}}</h4>
        <p>Project Development Chair</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="our-team-box">
        <img src="{{ page.logistics_image }}" class="img-responsive alt="...">
        <h4>{{page.logistics_name}}</h4>
        <p>Logistics Chair</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="our-team-box">
        <img src="{{ page.outreach_image }}" class="img-responsive alt="...">
        <h4>{{page.outreach_name}}</h4>
        <p>Events and Outreach Chair</p>
      </div>
    </div>

  </div>
</div>
<div class="spacing"></div>
