---
layout: base
---
<div
  class="container first project-header"
  style="background-image: url('{{ page.headerImageUrl }}')"
>
</div>
<div class="chapters-title">
  <div class='daun'></div>
  <p>{{ page.title }}</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-9">
      <div class="container">
        <div class="row">
          <h4 class="project-content-title"><mark class="yellow">Background</mark></h4>
          <div class="project-content-section">
            {{ page.backgroundText }}
          </div>
        </div>
        <div class="row">
          <h4 class="project-content-title"><mark class="yellow">Solution</mark></h4>
          <div class="project-content-section">
            {{ page.solutionText }}
          </div>
        </div>
        <div class="row">
          <h4 class="project-content-title"><mark class="yellow">Implementation</mark></h4>
          <div class="project-content-section">
            {{ page.implementationText }}
          </div>
        </div>
        {% if page.gallery %}
        <div class="row">
          <div id="carousel" class="carousel carousel-album slide" data-ride="carousel" data-interval="0">
            <ol class="carousel-indicators">
              {% for url in page.gallery %}
                {% if forloop.index == 1 %}
                <li data-target="#carousel" data-slide-to="{{forloop.index | minus:1}}" class="active"></li>
                {% else %}
                <li data-target="#carousel" data-slide-to="{{forloop.index | minus:1}}"></li>
                {% endif %}
              {% endfor %}
            </ol>
            <div class="carousel-inner">
              {% for url in page.gallery %}
                {% if forloop.index == 1 %}
                <div class="carousel-item active">
                {% else %}
                <div class="carousel-item">
                {% endif %}
                  <img src="{{url}}" class="d-block w-100" />
                </div>
              {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-sm-12 col-md-3">
      <div class="card donation-section">
        {% if page.fundraisingUrl %}
          <img src="{{ page.fundraisingImageUrl }}" class="card-img-top">
          <div class="card-body">
            <p class="card-text">{{ page.fundraisingText }}</p>
            <a href="{{ page.fundraisingUrl }}" class="btn btn-solarchapter">Donate</a>
          </div>
        {% else %}
          <div class="card-body">
            <p class="card-text">You help is always appreciated. To support our project, you can make a donation to us</p>
            <a href="/donate" class="btn btn-solarchapter">Donate</a>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="col-sm-12 col-md-9">
      <div class="container">
        <div class="row">
          <div class="cta-section">
            <a class="btn btn-solarchapter" href="/projects">Go back to projects</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>