---
layout: base
---
<div class="section-content bg">
  <div class="container">
    <div class="row align-items-center" style="min-height: 300px;">
      <div class="teams-title">
        <a href="https://fontmeme.com/cursive-fonts/"><img src="https://fontmeme.com/permalink/200222/8ebe2f98b058b306d2cf4c96098191c9.png" alt="cursive-fonts" border="0"></a>
      </div>
    </div>
  </div>
</div>
<div class="spacing"></div>
<div class="container">
  <div class="row align-items-center" style="min-height: 300px;">
    <div class="card-group">
      <div class="card">
        <img src="{{ page.uiuc_image }}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"> {{ page.uiuc_quote }} </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">- Solar Chapter UIUC</small>
          </div>
          <a href="/teams/uiuc/"><div class="overlay">
            <div class="overlay-text">UIUC Team</div>
          </div></a>
      </div>
      <div class="card">
        <img src="{{ page.michigan_image }}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"> {{ page.michigan_quote_1 }} </p>
          <p class="card-text"> {{ page.michigan_quote_2 }} </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">- Solar Chapter Michigan</small>
        </div>
        <a href="#"><div class="overlay">
          <div class="overlay-text" href="#">Michigan Team</div>
        </div></a>
      </div>
      <div class="card">
        <img src="{{ page.purdue_image }}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"> {{ page.purdue_quote }} </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">- Solar Chapter Purdue</small>
        </div>
        <a href="#"><div class="overlay">
          <div class="overlay-text" href="#">Purdue Team</div>
        </div></a>
      </div>
    </div>
  </div>
</div>
