---
layout: base
---
<div class="section-content bg">
  <div class="container">
    <div class="row align-items-center" style="min-height: 300px;">
      <div class="teams-title">
        <a href="https://fontmeme.com/cursive-fonts/"><img src="https://fontmeme.com/permalink/200222/ea6e64bbfe867deb18c4f5d431adccd7.png" alt="cursive-fonts" border="0"></a>
      </div>
    </div>
  </div>
</div>
<div class="spacing"></div>
<div class="container">
  <div class="row align-items-center" style="min-height: 300px;">
    <div class="card-group">
      <div class="card">
        <img src="{{ page.uiuc_image }}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some people are born into families where they have to walk for hours just to get
            water, all we have to do is turn on the faucet. Founded in 2017, we are Solar Chapter: a non-profit
            organization consisting of students and alumni from the University of Illinois at Urbana-Champaign.
            We want to help people who are less fortunate because we believe everyone deserves a shot at a better life.
            The world could always use more love. Join us in improving their living condition, education, and opportunity!</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">- Solar Chapter UIUC</small>
          </div>
          <div class="overlay">
            <div class="overlay-text" href="#">UIUC Team</div>
          </div>
      </div>
      <div class="card">
        <img src="{{ page.michigan_image }}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">The University of Michigan branch was founded when a group of students at
            Michigan became inspired by the work done by Solar Chapter at UIUC. After reaching out and discussing
            the possibility of creating a branch organization at UofM, Solar Chapter at the University of Michigan
            officially had their first meeting in February 2018. Less than a year later, we are joined by members
            from Seattle and Berkeley. Now, we are 11 members and 4 schools strong!</p>
          <p class="card-text">Together, we are determined to continue the vision and mission of Solar Chapter by
            expanding their good work. We are proud to announce our current project, Makna, which is an initiative
            to raise awareness about NTT Kain. Be on the lookout for awesome things we have in store!</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">- Solar Chapter Michigan</small>
        </div>
        <div class="overlay">
          <div class="overlay-text" href="#">Michigan Team</div>
        </div>
      </div>
      <div class="card">
        <img src="{{ page.purdue_image }}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Solar Chapter Purdue is found in April 2018. Believing in the initial work of Solar Chapter, we strive to extend Solar Chapter’s hand to help more people around the world. With students from various ethnicities, nationalities, and backgrounds, we believe we can help impact the lives of those in need. We might not be able to change the world, but we might be able to change someone's world.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">- Solar Chapter Purdue</small>
        </div>
        <div class="overlay">
          <div class="overlay-text" href="#">Purdue Team</div>
        </div>
      </div>
    </div>
  </div>
</div>
