---
layout: base
custom_css:
  - '/assets/css/teams.css'
---
<link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
<div class="section-content-container">
  <div class="section-content bg yellow" style="background-image: url({{ page.background_image }});"></div>
    <div class="container">
      <div class="row align-items-center" style="min-height: 300px;">
        <div class="title">
          <p style="font-family: 'Rock Salt', cursive; font-size: 38px;">{{ page.title }}</p>
        </div>
      </div>
    </div>
</div>
<div class="spacing"></div>
<div class="container">
  <div class="row" style="min-height: 300px;">
    {% for team in site.teams %}
    <div class="col-xs-12 col-md-4">
      <div class="card-group">
        <div class="card">
          <img src="{{ team.locationImage }}" class="card-img-top" alt="{{ team.title }}">
          <div class="card-body">
            <p class="card-text"> {{ team.quote }} </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{ team.title }}</small>
            </div>
            <a href="{{ team.url }}">
              <div class="overlay">
                <div class="overlay-text">
                  {{ team.title }}
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
